* {
  box-sizing: border-box;
}

.desktop1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #faf8ed;
  padding-top: 17px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .heyImVimal01ProductD3 {
    margin: 0px 0px 0px 316px;
    line-height: 210px;
    letter-spacing: -6.71px;
    color: #000000;
    font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 84px;
    font-weight: 600;

    .heyImVimal01ProductD {
      letter-spacing: -6.71px;
      color: #717171;
      font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 84px;
      font-weight: 600;
    }

    .heyImVimal01ProductD2 {
      letter-spacing: -6.71px;
      color: #131313;
      font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 84px;
      font-weight: 600;
    }
  }

  .autoWrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 130px;
    padding-right: -71px;
    padding-left: -9px;

    .vector1 {
      margin-top: 35px;
      margin-left: -9px;
      width: 51px;
      height: 5px;
    }

    .frame2147206589 {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1px;
      row-gap: 15px;

      .frame2147206585 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 5px;
        background: #e1e0d7;
        padding: 2px 7px;

        .home {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: #000000;
          font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
          text-transform: UPPERCASE;
        }
      }

      .frame2147206584 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 8px;
        background: #eeece3;
        padding: 17px;
        overflow: hidden;

        .glyph {
          flex-shrink: 0;
          width: 32px;
          height: 32px;
          overflow: hidden;
        }
      }

      .frame2147206586 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
      }

      .frame2147206590 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        margin-right: 4px;
      }

      .frame2147206591 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        margin-right: 18px;
      }

      .frame2147206592 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
      }
    }

    .frame21472065902 {
      position: relative;
      margin-top: 18px;
      margin-left: 125px;
      width: 743px;
      height: 334px;

      .frame6 {
        position: absolute;
        top: 72px;
        left: 192px;
        border: 4px solid #fbf9ef;
        width: 195px;
        height: 241px;
        overflow: hidden;
        rotate: -15deg;
        background-image: url(../image/mia0d8x6-4yctgfz.png);
        background-position: 1px 0px;
        background-size: 98.65% 99.82%;
        background-repeat: no-repeat;
      }

      .frame2147206582 {
        position: absolute;
        top: 68px;
        left: 560px;
        outline-width: 5px;
        outline-style: solid;
        outline-color: #fbf9ef;
        width: 182px;
        height: 222px;
        overflow: hidden;
        rotate: -180deg;

        .whatsAppImage2025110 {
          position: absolute;
          top: -1px;
          left: 1px;
          width: 182px;
          height: 222px;
        }

        .image45 {
          position: absolute;
          bottom: -1px;
          left: -1px;
          width: 182px;
          height: 222px;
          rotate: 180deg;
        }
      }

      .instagramPost81 {
        position: absolute;
        top: 0;
        left: 0;
        border: 8px solid #fbf9ef;
        width: 216px;
        height: 271px;
        background-image: url(../image/mia0d8x6-v0ht7te.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .frame5 {
        position: absolute;
        top: 29px;
        left: 373px;
        border: 4px solid #fbf9ef;
        width: 194px;
        height: 241px;
        overflow: hidden;
        rotate: 15deg;
        background-image: url(../image/mia0d8x6-5zty2q8.png);
        background-position: 1px 0px;
        background-size: 98.98% 100%;
        background-repeat: no-repeat;
      }
    }

    .graphicElement {
      margin-top: 204px;
      margin-left: 82px;
      width: 337px;
      height: 208px;
    }
  }

  .iTurnConfusingProduc {
    margin: 58px 0px 0px 400px;
    text-align: center;
    line-height: 31px;
    letter-spacing: -1.96px;
    color: #717171;
    font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .graphicElement2 {
    margin-top: 65px;
    margin-left: 17px;
    width: 126px;
    height: 78px;
  }
}
