* {
  box-sizing: border-box;
}

.frame2147206607 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 24px;
  background: #f1f1f1;
  padding: 68px 55px 61px 61px;
  width: 1040px;
  height: 493px;
  overflow: hidden;

  .component2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;

    .toggleButton {
      flex-shrink: 0;
      overflow: visible;
      display: inline-flex;
      --primary: 9 96% 58%;
    }

    .frame2147206605 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      border-radius: 15px;
      background: #e6e6e6;
      padding: 4px;

      .frame2147206603 {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: flex-start;
        border: 3px solid #ffffff;
        border-radius: 12px;
        background-color: #e2e2e2;
        padding: 9px 182px 289px 14px;
        overflow: hidden;
        background-image: url(../image/mieomno3-9u071g7.png);
        background-position: -16px -53px;
        background-size: 135.59% 120.07%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 0px 4px #00000040);

        .weekJpg {
          line-height: 10px;
          letter-spacing: -0.18px;
          color: #a6a6a6;
          font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 6px;
        }
      }
    }
  }

  .iMaProductDesignerWi {
    margin: 67px 0px 0px;
    width: 638px;
    line-height: 41px;
    letter-spacing: -0.72px;
    color: #000000;
    font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
}
