* {
  box-sizing: border-box;
}

.macBookAir3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 409px 555px 67px 489px;
  width: 1280px;
  height: 832px;
  overflow: hidden;

  .autoWrapper {
    position: absolute;
    top: 70px;
    left: 292px;
    width: 911px;
    height: 540px;

    .vector1 {
      position: absolute;
      top: 283px;
      left: 6px;
      width: 206px;
      height: 257px;
    }

    .frame2147206602 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 911px;
      height: 296px;
      row-gap: 32px;

      .aboutMe3 {
        flex-shrink: 0;
        line-height: 59px;
        letter-spacing: -6.71px;
        color: #000000;
        font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 84px;
        font-weight: 600;

        .aboutMe {
          letter-spacing: -6.71px;
          color: #717171;
          font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 84px;
          font-weight: 600;
        }

        .aboutMe2 {
          letter-spacing: -6.71px;
          color: #000000;
          font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 84px;
          font-weight: 600;
        }
      }

      .iMaProductDesignerWi {
        flex-shrink: 0;
        align-self: stretch;
        width: 911px;
        line-height: 41px;
        letter-spacing: -0.72px;
        color: #000000;
        font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .toggleButton {
      margin-left: 204px;
      width: 32px;
      height: 32px;
      overflow: hidden;
    }

    .frame2147206605 {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      margin-top: 3px;
      border-radius: 15px;
      background: #e6e6e6;
      padding: 4px;

      .frame2147206603 {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: flex-start;
        border: 3px solid #ffffff;
        border-radius: 12px;
        background-color: #e2e2e2;
        padding: 9px 182px 289px 14px;
        overflow: hidden;
        background-image: url(../image/midi7dn1-2s6gf3e.png);
        background-position: -16px -53px;
        background-size: 135.59% 120.07%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 0px 4px #00000040);

        .weekJpg {
          line-height: 10px;
          letter-spacing: -0.18px;
          color: #a6a6a6;
          font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 6px;
        }
      }
    }
  }
}
