* {
  box-sizing: border-box;
}

.macBookAir5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 64px 120px;
  width: 1280px;
  height: 723px;
  overflow: hidden;
  row-gap: 80px;

  .frame2147206608 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 49px;
    border-radius: 24px;
    background: #f1f1f1;
    padding: 32px;
    width: 1033px;
    overflow: hidden;

    .component2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      row-gap: 15px;

      .toggleButton {
        flex-shrink: 0;
        width: 47px;
        height: 47px;
        overflow: hidden;
      }

      .frame2147206605 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 15px;
        border-radius: 22px;
        background: #e6e6e6;
        padding: 6px;

        .frame2147206603 {
          display: flex;
          flex-grow: 1;
          flex-shrink: 0;
          align-items: flex-start;
          margin-right: 1px;
          margin-left: 1px;
          border: 4px solid #ffffff;
          border-radius: 17px;
          background-color: #e2e2e2;
          padding: 14px 266px 421px 20px;
          overflow: hidden;
          background-image: url(../image/mikbwzvu-vzwzohp.png);
          background-position: -23px -77px;
          background-size: 135.59% 120.07%;
          background-repeat: no-repeat;
          filter: drop-shadow(0px 0px 6px #00000040);

          .weekJpg {
            line-height: 15px;
            letter-spacing: -0.26px;
            color: #a6a6a6;
            font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 9px;
          }
        }
      }
    }

    .frame2147206616 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
      row-gap: 52px;

      .iMaProductDesignerWi5 {
        flex-shrink: 0;
        align-self: stretch;
        width: 576px;
        line-height: 41px;
        letter-spacing: -0.72px;
        color: #000000;
        font-size: 24px;

        .iMaProductDesignerWi {
          line-height: 41px;
          letter-spacing: -0.72px;
          color: #000000a3;
          font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .iMaProductDesignerWi2 {
          line-height: 41px;
          letter-spacing: -0.72px;
          color: #000000a3;
          font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }

        .iMaProductDesignerWi3 {
          line-height: 41px;
          letter-spacing: -0.72px;
          color: #fb4a2b;
          font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .iMaProductDesignerWi4 {
          line-height: 41px;
          letter-spacing: -0.72px;
          color: #000000;
          font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .frame21472066182 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .getInTouch {
          flex-shrink: 0;
          line-height: 68px;
          letter-spacing: -1.2px;
          color: #000000;
          font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 600;
        }

        .frame2147206617 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 20px;

          .mail {
            flex-shrink: 0;
            width: 32px;
            height: 32px;
            overflow: hidden;
          }

          .uxdvimalGmailCom {
            flex-shrink: 0;
            align-self: stretch;
            text-align: right;
            line-height: 21px;
            letter-spacing: -0.42px;
            color: #ffffff;
            font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .frame2147206619 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 12px;

            .vector1 {
              flex-shrink: 0;
              align-self: stretch;
              width: 162px;
              height: 1px;
            }
          }

          .frame2147206615 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 15px;
            background: #fb4a2b;
            padding: 12px;
            height: 124px;
            overflow: hidden;
          }

          .frame2147206618 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 15px;
            background: #231df5;
            padding: 12px;
            height: 124px;
            overflow: hidden;
          }

          .frame2147206620 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 15px;
            background: #000000;
            padding: 12px;
            width: 163px;
            min-width: 163px;
            height: 124px;
            overflow: hidden;

            .frame21472066192 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 12px;

              .vector12 {
                flex-shrink: 0;
                align-self: stretch;
                width: 139px;
                height: 1px;
              }
            }
          }
        }
      }
    }
  }
}
