* {
  box-sizing: border-box;
}

.frame2147206594 {
  display: flex;
  align-items: center;
  padding: 2px;
  width: 24px;
  height: 24px;
  overflow: hidden;

  .frame2147206595 {
    width: 20px;
    height: 20px;
  }
}
