* {
  box-sizing: border-box;
}

.heyImVimal01ProductD3 {
  width: 808px;
  height: 210px;
  line-height: 210px;
  letter-spacing: -6.71px;
  color: #000000;
  font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 84px;
  font-weight: 600;

  .heyImVimal01ProductD {
    letter-spacing: -6.71px;
    color: #717171;
    font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 84px;
    font-weight: 600;
  }

  .heyImVimal01ProductD2 {
    letter-spacing: -6.71px;
    color: #131313;
    font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 84px;
    font-weight: 600;
  }
}
