* {
  box-sizing: border-box;
}

.frame2147206590 {
  position: relative;
  width: 743px;
  height: 334px;

  .frame6 {
    position: absolute;
    top: 72px;
    left: 192px;
    border: 4px solid #fbf9ef;
    width: 195px;
    height: 241px;
    overflow: hidden;
    rotate: -15deg;
    background-image: url(../image/mic0h1wn-l2heefa.png);
    background-position: 1px 0px;
    background-size: 98.65% 99.82%;
    background-repeat: no-repeat;
  }

  .frame2147206582 {
    position: absolute;
    top: 68px;
    left: 560px;
    outline-width: 5px;
    outline-style: solid;
    outline-color: #fbf9ef;
    width: 182px;
    height: 222px;
    overflow: hidden;
    rotate: -180deg;

    .whatsAppImage2025110 {
      position: absolute;
      top: -1px;
      left: 1px;
      width: 182px;
      height: 222px;
    }

    .image45 {
      position: absolute;
      bottom: -1px;
      left: -1px;
      width: 182px;
      height: 222px;
      rotate: 180deg;
    }
  }

  .instagramPost81 {
    position: absolute;
    top: 0;
    left: 0;
    border: 8px solid #fbf9ef;
    width: 216px;
    height: 271px;
    background-image: url(../image/mic0h1wn-yvhrdp6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .frame5 {
    position: absolute;
    top: 29px;
    left: 373px;
    border: 4px solid #fbf9ef;
    width: 194px;
    height: 241px;
    overflow: hidden;
    rotate: 15deg;
    background-image: url(../image/mic0h1wn-46kws7n.png);
    background-position: 1px 0px;
    background-size: 98.98% 100%;
    background-repeat: no-repeat;
  }
}
