* {
  box-sizing: border-box;
}

.macBookAir7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  background: #fdfdfd;
  padding: 100px 120px;
  width: 1280px;
  height: 1640px;
  overflow: hidden;
  row-gap: 80px;

  .caseStudy3 {
    flex-shrink: 0;
    line-height: 58px;
    letter-spacing: -6.4px;
    color: #000000;
    font-size: 80px;

    .caseStudy {
      letter-spacing: -6.4px;
      color: #717171;
      font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 600;
    }

    .caseStudy2 {
      letter-spacing: -6.4px;
      color: #131313;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 700;
    }
  }

  .frame2147206614 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 24px;

    .viewDetails {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "Lexend Deca", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .comingSoon {
      line-height: 68px;
      letter-spacing: -1.2px;
      color: #f9f9f9;
      font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
    }

    .frame21472066132 {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 23px 23px 0px 0px;
      background-color: #000000;
      padding: 164px 120px 164px 136px;
      overflow: hidden;
      background-image: none;
      filter: drop-shadow(0px -4px 96px #00000012);
    }

    .frame2147206591 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 12px;
      margin-right: 251px;
      border: 2px solid #fb8a76;
      border-radius: 5px;
      box-shadow: 0px 4px 4px 0px #0000001a;
      background: #fb4a2b;
      padding: 10px 18px;
    }

    .frame2147206612 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 20px;

      .figChat {
        flex-shrink: 0;
        line-height: 68px;
        letter-spacing: -1.2px;
        color: #000000;
        font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 600;
      }

      .iMaProductDesignerWi {
        flex-shrink: 0;
        align-self: stretch;
        width: 377px;
        line-height: 24px;
        letter-spacing: -0.48px;
        color: #787878;
        font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .frame2147206607 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 24px;
      box-shadow: 0px 0px 4px 0px #00000026;
      background: #ffffff;
      padding: 63px 38px 0px 59px;
      height: 418px;
      overflow: hidden;

      .frame2147206613 {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 23px 23px 0px 0px;
        background-color: #000000;
        padding: 164px 128px;
        overflow: hidden;
        background-image: url(../image/mihneuae-hj0sj8n.png);
        background-position: 0px -91px;
        background-size: 100% 250.79%;
        background-repeat: no-repeat;
        filter: drop-shadow(0px -4px 96px #00000012);
      }

      .frame2147206611 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 53px;
        margin-left: 66px;
        row-gap: 24px;
      }
    }

    .frame2147206608 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 24px;
      box-shadow: 0px 0px 4px 0px #00000026;
      background: #ffffff;
      padding: 63px 38px 0px 59px;
      height: 418px;
      overflow: hidden;

      .frame21472066112 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 53px;
        margin-left: 67px;
        row-gap: 24px;

        .frame21472065912 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 12px;
          margin-right: 251px;
          border: 2px solid #fb8a76;
          border-radius: 5px;
          box-shadow: 0px 0px 0px 0px #0000001a;
          background: #fb4a2b;
          padding: 10px 18px;
        }
      }
    }

    .frame2147206609 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 24px;
      box-shadow: 0px 0px 4px 0px #00000026;
      background: #ffffff;
      padding: 63px 38px 0px 59px;
      height: 418px;
      overflow: hidden;

      .frame21472066113 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 53px;
        margin-left: 67px;
        row-gap: 24px;
      }
    }
  }
}
